<div class="container">  
    
    <h1> Set Up exams </h1>  
      
    <form [formGroup]="examForm" (ngSubmit)="onSubmit()">  
        
      <p>  
        <label for="title">Title:</label>  
        <input type="text" id="title" name="title" formControlName="title" class="form-control">  
      </p>
      
      <table class="table table-bordered" formArrayName="qns" >  
        <tr>  
          <th colspan="2">Add Multiple Questions:</th>  
          <th width="150px"><button type="button" (click)="addQuantity()" class="btn btn-primary">Add </button></th>  
        </tr>  
        <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">  
          <td>
            <table>
            <tr>
            <td>  
              Question :  
              <input type="text" formControlName="question" class="form-control">  
          </td>  
          </tr>
          <tr>
          <td>  
              Option 1:  
              <input type="text" formControlName="option1" class="form-control">  
          </td> 
          </tr>
        <tr>
          <td>  
            Option 2:  
            <input type="text" formControlName="option2" class="form-control">  
        </td> 
        </tr>
        <tr>
            <td>  
              Option 3:  
              <input type="text" formControlName="option3" class="form-control">  
          </td> 
          </tr>
          <tr>
            <td>  
              Option 4:  
              <input type="text" formControlName="option4" class="form-control">  
          </td> 
          </tr>
          <tr> 
          <td>  
              <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>  
          </td>  
          </tr>
          </table>
          </td>
        </tr>  
      </table>  
       
      <button type="submit" class="btn btn-success">Submit</button>  
        
    </form>  
        
    <br/>  
    <!-- {{this.examForm.value | json}}   -->
  </div>  
