* {
    box-sizing: border-box;
}
.col{
    border: 1px solid lightgray;
    text-align: center;
    padding: 23px;
    background-color: white;
    
}

.col:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
    height: calc(100vh - 115px);    /* justify-content: center !important; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    
    overflow:auto;
}

.row{
    
    position: relative;
    top: 15vh;

}

span{
    font-weight: bold;
}