<div class="container">
   <div class="row">
    <div class="col-sm-4">
      <div class="card bg-success">
        <div class="card-body">
          <h5 class="card-title">{{noOfCourses}}</h5>
          <p class="card-text">Courses</p>
          <button class="btn btn-warning" (click)="viewCourses()">View</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-danger" >
        <div class="card-body">
          <h5 class="card-title">{{noOfTrainers}}</h5>
          <p class="card-text">Trainers</p>
          <button class="btn btn-primary" (click)="viewTrainers()">View</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-warning">
          <div class="card-body">
            <h5 class="card-title">{{noOfStudents}}</h5>
            <p class="card-text">Students</p>
            <button class="btn btn-secondary" (click)="viewStudents()">View</button>
          </div>
        </div>
      </div>
  </div>
</div>
