<div class="container">
<div>
    <h1>Upload Study materials</h1>
</div>
<br><br>
<form [formGroup]="myForm" (ngSubmit)="submit()" class="card">
  
    <div class="form-group">
        <label for="name">Title</label>
        <input 
            formControlName="title"
            id="name" 
            type="text" 
            class="form-control">
    </div><br>
      
    <div class="form-group">
        <label for="file">File</label>
        <input formControlName="files" id="file" type="file" class="form-control" (change)="onFileChange($event)" multiple enctype="multipart/form-data">
       
    </div><br>
          
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>