<div class="navbar">
    <div class="top">
        <!-- <mat-icon>notifications_none</mat-icon> -->
    </div>
    <div class="brand-name">
        <img src="assets/studentassets/writing.png">
        <h1>Trainer</h1></div>
    <div class="user">
        
        <h4 class="name">{{username}}</h4>
        <p class="email">{{email}}</p>
    </div>
    <div class="menu">
        <div class="menu-items">
            <button mat-button class="menu-button" routerLink="hometrainer" routerLinkActive="is-active">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button" routerLink="trainer-uploads" routerLinkActive="is-active">
                <mat-icon>import_contacts</mat-icon>
                <span>View Uploads</span>
            </button>
            <button mat-button class="menu-button" routerLink="exams-setup" routerLinkActive="is-active">
                <mat-icon>assignment</mat-icon>
                <span> Set UP Exams</span>
            </button>
            <button mat-button class="menu-button" routerLink="upload-materials" routerLinkActive="is-active">
                <mat-icon>grade</mat-icon>
                <span>Upload Materials</span>
            </button>
            <button mat-button class="menu-button" routerLink="view-submissions" routerLinkActive="is-active">
                <mat-icon>update</mat-icon>
                <span>View Submissions</span>
            </button>
            <button mat-button class="menu-button" routerLink="student-feedback" routerLinkActive="is-active">
                <mat-icon> chat_bubble</mat-icon>
                <span>View Feedback</span>
            </button>
        </div>
    </div>
</div>