<div class="navbar">
    <div class="user">
        <p>Admin</p>
    </div>
</div>
<div class="menu">
    
    <div class="menu-item">
        <div class="d">
        <p  id="dash">DASHBOARD</p></div>
        <button mat-button class="menu-button" routerLink="home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="admin-profile">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button" routerLink="courses">
            <mat-icon>book</mat-icon>
            <span>Courses</span>
        </button>
        <button mat-button class="menu-button" routerLink="students">
            <mat-icon>person</mat-icon>
            <span>Student</span>
        </button>
        <button mat-button class="menu-button" routerLink="trainers">
            <mat-icon>person</mat-icon>
            <span>Trainer</span>
        </button>
        
       
        
    </div>
</div>

