
.toolbar{
    /* height: 80px; */
    background-color:  #0f172a;
}

mat-sidenav{
    background-color: #0f172a;
    width: 230px;
    height: 100%;
}

mat-sidenav-content{
    height: 100vh;
    background-color: white;
}

.main{
    /* margin-left: 10px; */
    background-color:#FFFAD7;
    padding-top: 50px;
    /* height: 100vh; */
    /* overflow: auto; */
}

mat-toolbar mat-icon{
    margin-left: 15px;
    color: white;
    cursor: pointer;
}

.logout-icon:hover{
    color: gray;
    cursor: pointer;
}
mat-toolbar{
    justify-content: space-between;
    background-color:#0f172a;
    /* margin-bottom: 50px; */
}
.box{
    margin-top: 15px;
}