<div class="body">
  <mat-sidenav-container class="main-container">
    <mat-sidenav #sidebar mode="side" opened>
      <app-student-nav></app-student-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <div class="toolbar">
          <mat-toolbar>
            <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
            <div class="box">
              <mat-icon>search</mat-icon>
              <mat-icon>bookmark_border</mat-icon>
              <!-- <mat-icon>main_outline</mat-icon> -->

            </div>
          </mat-toolbar>
        </div>
        <div class="main">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


