<div class="container ">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-lg-8 col-md-10 col-10">
            <div class="exam-container">
                <form >
                    <ul>
                        <li>
                            Question 1 <ul>
                                <li>A <input type="radio" name="" id=""></li>
                                <li>B <input type="radio" name="" id=""></li>
                                <li>C <input type="radio" name="" id=""></li>
                                <li>D <input type="radio" name="" id=""></li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>   
<router-outlet></router-outlet>

