<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body> -->
<div class="body">
<div class="container mt-3">
  <h2>GRADE</h2>  
  <table class="table table-hover">
    <thead>
      <tr>
         <th>Course Name</th>
        <th>Course id</th>
        <th>Overall Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>
            <mat-accordion>

                <mat-expansion-panel>
            
                    <mat-expansion-panel-header style="background:#ffffff">
                        <mat-panel-title>
                            Certified specialist in MEAN stack
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>upload dashboard</p>
                </mat-expansion-panel>
            </mat-accordion>
        </td>
        <td>111</td>
        <td>A+</td>
       
       
       
       
       
        <tr>
        
            <td>
                <mat-accordion>
    
                    <mat-expansion-panel>
                
                        <mat-expansion-panel-header style="background:#ffffff">
                            <mat-panel-title>
                                Certified specialist in PYTHON
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>upload dashboard</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </td>
        <td>112</td>
            <td>A</td>
          </tr>


          <tr>
        
            <td>
                <mat-accordion>
    
                    <mat-expansion-panel>
                
                        <mat-expansion-panel-header style="background:#ffffff">
                            <mat-panel-title>
                                Certified specialist in JAVA
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>upload dashboard</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </td>
        <td>113</td>
            <td>A</td>
          </tr>






    </tbody>
  </table>
</div>
</div>
<!-- </body>
</html> -->