
<div class="body">
<div class="container mt-3">
  <h2>GRADE</h2>  
  <table class="table table-hover">
    <thead>
      <tr>
         <th>Course Name</th>
        <th>Course id</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>
          <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header style="background:#ffffff">
                    <mat-panel-title>
                        {{courseName.courseName}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table class="table table-hover">
                  <thead >
                    <tr class="head">
                       <th>Exam Name</th>
                      <th>Mark</th>
                    </tr>
                  </thead>
                  <tbody  *ngFor="let A of response">
                    <tr class="tbody">
                      <td>{{A.title}}</td>
                      <td>{{A.marks}}</td>
                    </tr>
                  </tbody>
                </table>
                    
                  
               <!--<p>upload dashboard</p>-->
            </mat-expansion-panel>
        </mat-accordion>
        </td>
        <td>{{data.id}}</td>
                
      </tr>
       
       
       
       
        <!-- <tr>
        
            <td>
                <mat-accordion>
    
                    <mat-expansion-panel>
                
                        <mat-expansion-panel-header style="background:#ffffff">
                            <mat-panel-title>
                                Certified specialist in PYTHON
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                               <th>Exam Name</th>
                              <th>Mark</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>111</td>
                             <td>A+</td>
                        
                            </tbody>
                          </table>
                       
                    </mat-expansion-panel>
                </mat-accordion>
            </td>
        <td>112</td>
            <td>A</td>
          </tr> -->
       

          <!-- <tr>
        
            <td>
                <mat-accordion>
    
                    <mat-expansion-panel>
                
                        <mat-expansion-panel-header style="background:#ffffff">
                            <mat-panel-title>
                                Certified specialist in JAVA
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                               <th>Exam Name</th>
                              <th>Mark</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>111</td>
                             <td>A+</td>
                        
                            </tbody>
                          </table>
                       
                    </mat-expansion-panel>
                </mat-accordion>
            </td>
        <td>113</td>
            <td>A</td>
          </tr> -->






    </tbody>
  </table>
</div>
</div>
<!-- </body>
</html> -->