#name{
    width: 50%;
  }
  table{
    color: rgb(63, 60, 60);
    width: 97%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    height: 100%;
    position: relative;
    z-index: 9999;
  }
  #email{
    width:50%;
  }
  #course{
    width:9%;
  }
  #qualification{
    width: 15%;
    padding: 20px;
  }
  #dob{
    width: 18%;
  }
  #phone{
    width: 15%;
  }
  th{
   padding: 20px;
  }
  td{
    padding: 15px;
  }
  tr:hover{
    background-color: #dde3f1;
  }
  .addbtn{
    float: right;
    margin: 20px;
  }