<button class="btn btn-primary addbtn"  (click)="addstudent()">Add Student</button>

<table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Course ID</th>
      <!-- <th>Qualification</th>
      <th>Date of Birth</th>
      <th>Phone</th>
      <th>adress</th>
      <th>password</th>
      <th>role</th> -->
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let student of students">
      <td *ngIf="student.role=='student'"  id="name">{{student.name}}</td>
      <td *ngIf="student.role=='student'" id="email">{{student.email}}</td>
      <td *ngIf="student.role=='student'" id="course">{{student.courseID}}</td>
      <!-- <td *ngIf="student.role=='student'" id="qualification">{{student.qualification}}</td>
      <td *ngIf="student.role=='student'" id="dob">{{student.dob}}</td>
      <td *ngIf="student.role=='student'" id="phone">{{student.phone}}</td>
      <td *ngIf="student.role=='student'">{{student.address}}</td>
      <td *ngIf="student.role=='student'">{{student.password}}</td>
      <td *ngIf="student.role=='student'">{{student.role}}</td> -->
      <td *ngIf="student.role=='student'"><a class="btn btn-success"  (click)="editStud(student)" >Edit</a></td>
      <td *ngIf="student.role=='student'"><button class="btn btn-danger" (click)="deleteStud(student)">Delete</button></td>
    </tr>
</table>


