<div class="container ">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-lg-8 col-md-10 col-10">
            <div class="exam-container">
                <ul>
                    <li><button class="btn-secondary" (click)="exam()">Exam 1</button></li>
                    <li><button class="btn-secondary" disabled>Exam 2</button></li>
                    <li><button class="btn-secondary" disabled>Exam 3</button></li>
                    <li><button class="btn-secondary" disabled>Exam 4</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>        
