<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-lg-10 col-md-10 col-10">
            <div class="header-and-name">
                <h2 class="header">Course Content</h2><p class="course-name">Course name</p>
            </div>
            <mat-accordion>

                <mat-expansion-panel>
            
                    <mat-expansion-panel-header style="background:#FFFDD1">
                        <mat-panel-title>
                            <h2>Session 1</h2>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Session 1 here....</p>
                </mat-expansion-panel>
            </mat-accordion>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header style="background:#FFFEF2">
                            <mat-panel-title>
                                <h2>Session 2</h2>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Session 2 here....</p>
                    </mat-expansion-panel>
                </mat-accordion>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="background:#FFFDD1">
                                <mat-panel-title>
                                    <h2>Session 3</h2>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Session 3 here....</p>
                        </mat-expansion-panel>
                    </mat-accordion>
            
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header style="background:#FFFEF2">
                                    <mat-panel-title>
                                        <h2>Session 4</h2>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>Session 4 here....</p>
                            </mat-expansion-panel>
                             </mat-accordion>
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header style="background:#FFFDD1">
                                        <mat-panel-title>
                                            <h2>Session 5</h2>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>session 5 here....</p>
                                </mat-expansion-panel>
                                </mat-accordion>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header style="background:#FFFEF1">
                                            <mat-panel-title>
                                                <h2>Interim Feedback</h2>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
            
            
                                        <textarea matInput placeholder="feedback here..." class="feedback-area form-control" [(ngModel)]="feedbackData.feedback" name="feedback"></textarea>
                                        <div class="submitbutton">
                                            <button type="submit" mat-raised-button color="primary" (click)="feedback(feedbackData)">Submit</button>
                                        </div>
                                    </mat-expansion-panel>
                                    </mat-accordion>
                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header style="background:#FFFDD1">
                                                <mat-panel-title>
                                                    <h2>Assignment</h2>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <textarea matInput placeholder=" assignment here..."></textarea>
                                            <div class="submitbutton">
                                                <button mat-raised-button color="primary">Submit</button>
                                            </div>
            
                                        </mat-expansion-panel>
                                    </mat-accordion>
        </div>
    </div>
</div>