<section class=" gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-11 col-md-8 col-lg-6 col-xl-4">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-4 text-center">
              
              <div class="mb-md-3 mt-md-4 pb-5">

              <form #form="ngForm" (ngSubmit)="form.valid && forgotPassword_navigate(data)">
                <h2 class="fw-bold mb-2 ">Forgot Password?</h2>
                <p class="text-white-50 mb-5">Please enter your email below for password recovery !</p>

                <div class="form-outline form-white mb-4 text-start">
                  <label class="form-label" for="typeEmailX">Email</label>
                <input type="text" class="form-control form-control-lg bg-dark text-white" name="Email" #Email="ngModel" [(ngModel)]="data.Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
                <label class="text-danger" *ngIf="form.submitted && Email.errors?.['required']">Email Required</label>
                <label class="text-danger" *ngIf="form.submitted && Email.errors?.['pattern']">Enter valid Email</label>
                <label class="text-danger">{{statusMsg}}</label>
                <span></span>
              </div>
                
                <div class="text-end">
                    <p class="small mb-5 pb-lg-2 text-white-50">{{info}} <br><a class=" text-decoration-none loginlink" routerLink="/login">{{loginLink}}</a></p>
                </div> 
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
  
              </form>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

