<div>
    <h1>Feedbacks from Students</h1>
</div>
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-lg-10 col-md-10 col-10">
            <div class="header-and-name">
                <!-- <h2 class="header">Course Content</h2><p class="course-name">Course name</p> -->
            </div>
            <!-- <mat-accordion>

                <mat-expansion-panel>
            
                    <mat-expansion-panel-header style="background:#FFFDD1">
                        <mat-panel-title>
                            <h2>Ram Mohan</h2>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Course:</p>
                    <p>Feedback:</p>
                </mat-expansion-panel>
            </mat-accordion> -->
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let feed of feedbacks">
                        <mat-expansion-panel-header style="background:#FFFEF2" >
                            <mat-panel-title>
                                <h2>{{feed.name}}</h2>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>{{feed.course}}:</p>
                        <p>{{feed.feedback}}:</p>
                    </mat-expansion-panel>
                </mat-accordion>
                    <!-- <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header style="background:#FFFDD1">
                                <mat-panel-title>
                                    <h2>Dinesh</h2>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Course:</p>
                            <p>Feedback:</p>
                        </mat-expansion-panel>
                    </mat-accordion> -->
            
                        
        </div>
    </div>
</div>


