#course{
    width: 28%;
  }
  #des{
    width:50%;
  }
  #id{
    width:10%;
  }
  .buttn{
    width:4%;
  }
  table{
    color: white;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    height: 100%;
    position: relative;
    z-index: 9999;
  }
  #id{
    width:30%;
  }
  #des{
    width:40%;
    text-align: justify;
  }
  
  th{
   padding: 20px;
   color: black;
  }
  td{
    padding: 15px;
    color: black;
    text-align: justify;
  }
  tr:hover{
    background-color: #e4e4e4;
  }
  .addbtn{
    margin: 20px;
    width: 15%;
  }
