<button class="btn btn-primary addbtn"  (click)="addcourse()">Add course</button>

<table>
    <tr>
      <th>Course</th>
      <th>Description</th>
      <th>Course id</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let course of courses">
      <td id="name">{{course.courseName}}</td>
      <td id="id">{{course.description}}</td>
      <td id="des">{{course.courseID}}</td>
      <td><a class="btn btn-primary"  (click)="editCourse(course)" >Edit</a></td>
      <td><button class="btn btn-danger" (click)="deleteCourse(course)">Delete</button></td>
      <td><button class="btn btn-warning" (click)="students(course)">Students</button></td>
      <td><button class="btn btn-secondary" (click)="trainers(course)">Trainers</button></td>
    </tr>
</table>

