<button class="btn btn-primary addbtn"  (click)="addcourse()">Add course</button>

<table>
    <tr>
      <th>Course</th>
      <th>Description</th>
      <th>Course id</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let course of courses">
      <td id="name">{{course.name}}</td>
      <td id="id">{{course.id}}</td>
      <td id="des">{{course.description}}</td>
      <td><a class="btn btn-primary"  (click)="editCourse(course)" >Edit</a></td>
      <td><button class="btn btn-danger" (click)="deleteCourse(course)">Delete</button></td>
    </tr>
</table>

