<div class="add">
    <form>
        <div class="mb-3">
          <label for="courseName" class="form-label">Course</label>
          <input type="text" class="form-control" id="courseName" name="courseName" [(ngModel)]="courseName">
         </div>
        <div class="mb-3">
          <label for="courseID" class="form-label">courseID</label>
          <input type="text" class="form-control" id="courseID" name="courseID" [(ngModel)]="courseID">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label><br>
            <textarea id="description" class="form-control"name="description" [(ngModel)]="description"> </textarea>
            <!-- <input type="text" class="form-control" id="description" name="description"> -->
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" id="image" name="image" [(ngModel)]="image">
          </div> 
        
        <button type="submit" class="btn btn-primary" (click)="addcourse()">Add</button>
      </form>
    </div>

