<button class="btn btn-primary addbtn"  (click)="addtrainer()">Add Trainer</button>

<table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Course ID</th>
      <!-- <th>Qualification</th>
      <th>Date of Birth</th>
      <th>Phone</th>
      <th>address</th>
      <th>Password</th>
      <th>role</th> -->
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let trainer of trainers" >
      
      <td *ngIf="trainer.role=='trainer'" id="name">{{trainer.name}}</td>
      <td *ngIf="trainer.role=='trainer'" id="email">{{trainer.email}}</td>
      <td  *ngIf="trainer.role=='trainer'" id="course">{{trainer.courseID}}</td>
      <!-- <td *ngIf="trainer.role=='trainer'" id="qualification">{{trainer.qualification}}</td>
      <td  *ngIf="trainer.role=='trainer'" id="dob">{{trainer.dob}}</td>
      <td *ngIf="trainer.role=='trainer'" id="phone">{{trainer.phone}}</td>
      <td *ngIf="trainer.role=='trainer'" id="address">{{trainer.address}}</td>
      <td *ngIf="trainer.role=='trainer'" id="password">{{trainer.password}}</td>
      <td *ngIf="trainer.role=='trainer'" id="role">{{trainer.role}}</td> -->
      <td *ngIf="trainer.role=='trainer'"><a class="btn btn-success"  (click)="edittrainer(trainer)" >Edit</a></td>
      <td *ngIf="trainer.role=='trainer'"><button class="btn btn-danger" (click)="deletetrainer(trainer)">Delete</button></td>
    
    </tr>
  
</table>



