<div class="navbar">
    <div class="top">
        <!-- <mat-icon>notifications_none</mat-icon> -->
    </div>
    <div class="brand-name">
        <img src="assets/studentassets/writing.png">
        <h1>Lessonly</h1>
        <hr>
    </div>
        
    <div class="user">
        
        <h4 class="name">Student Name</h4>
        <p class="email">student@gmail.com</p>
    </div>
    <div class="menu">
        <div class="menu-items">
            <button mat-button class="menu-button" routerLink="student-viewcourse" routerLinkActive="is-active">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button" routerLink="my-course" routerLinkActive="is-active">
                <mat-icon>import_contacts</mat-icon>
                <span>My courses</span>
            </button>
            <button mat-button class="menu-button" routerLink="exams" routerLinkActive="is-active">
                <mat-icon>assignment</mat-icon>
                <span>Exams</span>
            </button>
            <button mat-button class="menu-button" routerLink="grades" routerLinkActive="is-active">
                <mat-icon>grade</mat-icon>
                <span>Grades</span>
            </button>
            <button mat-button class="menu-button" routerLink="student-profile" routerLinkActive="is-active">
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
            </button>
        </div>
    </div>
</div>