

        
<div class="body">
   
    <div class="cards container">
        <div class="row d-flex justify-content-center align-items-center" >
            <div class="col col-lg-5 col-md-4 col-11" *ngFor="let course of courses">
                <a (click)="dialog(course._id)"><mat-card class="example-card">
                   
                        <mat-card-content class="content">
                            <img src={{course.image}} alt="">
                        </mat-card-content>
                  
                    <p>{{course.courseName}}</p>
                </mat-card>
            </a>
            </div> 
            
                        
        </div>
    </div>    
    </div>