
  <div class="add">
    <form>
        <div class="mb-3">
          <label for="courseName" class="form-label">Course</label>
          <input type="text" class="form-control" id="courseName" name="courseName" [(ngModel)]="courseName">
         </div> 
        <div class="mb-3">
          <label for="courseID" class="form-label">courseID</label>
          <input type="text" class="form-control" id="courseID" name="courseID" [(ngModel)]="courseID">
        </div>  
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label><br>
            <textarea id="description" class="form-control"name="description" [(ngModel)]="description"> </textarea>
            </div>
          <button type="button" style="margin: 15px;"class="btn btn-success" (click)="updatecourse()">Update</button>
  <button type="button" style="margin: 15px;" class="btn btn-danger" (click)="canceledit()">Cancel</button>
  
        
  
      </form>
    </div>
  
  
  
  
  
  





